@mixin flex($display:false, $position-x:false, $position-y:false, $flex-d:false, $flex-w:false) {
    @if $display {
        display: $display;
    }
    @if $position-x {
        justify-content: $position-x;
    }
    @if $position-y {
        align-items: $position-y;
    }
    @if $flex-d {
        flex-direction: $flex-d;
    }
    @if $flex-w {
        flex-wrap: $flex-w;
    }
}